<!DOCTYPE html>
<html class="create-background">
    <head>
        <title>Lg</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../css/style-create.css">
    </head>
    <body>
        
        <div class="main">
            <div class="header noise"><h2>Création :</h2></div>
            <div class="content noise">

                <div class="configuration content-div">
                    <h2>Configuration :</h2>
                    <div class="noise">
                        <p>Nom : <input type="text"/></p>
                        <p>Type :
                            <select>
                                <option selected disabled>Choisir une option</option>
                                <option>Sans Maitre du Jeu</option>
                                <option>Avec Maitre du Jeu</option>
                                <option>One Phone</option>
                            </select>
                        </p>
                    </div>

                </div>

                <div class="composition content-div">
                    <h2>Composition :</h2>
                    <div class="compo-big-box">
                        <div class="compo-box">
                            <h3>Villageois:</h3>
                            <div class="compo-img">
                                <div class="img-box selected select"><img src="../img/game/simple.png"/><b>Simple Villageois</b>
                                    <div class="number noise">
                                        <button class="Sub">-</button><button class="Add">+</button>
                                    </div>
                                    <div class="role-amount"><span>1</span></div>
                                </div>
                                <div class="img-box"><img src="../img/game/voyante.png"/><b>Voyante</b></div>
                                <div class="img-box"><img src="../img/game/sorciere.png"/><b>Sorcière</b></div>
                                <div class="img-box"><img src="../img/game/chasseur.png"/><b>Chasseur</b></div>
                                <div class="img-box"><img src="../img/game/fille.png"/><b>Petite Fille</b></div>
                                <div class="img-box"><img src="../img/game/cupidon.png"/><b>Cupidon</b></div>
                                <div class="img-box"><img src="../img/game/corbeau.png"/><b>Corbeau</b></div>
                                <div class="img-box"><img src="../img/game/salvateur.png"/><b>Salvateur</b></div>
                                <div class="img-box"><img src="../img/game/knight.png"/><b>Chevalier<br/></b></div>
                                <div class="img-box"><img src="../img/game/sister.png"/><b>Soeurs</b></div>
                                <div class="img-box"><img src="../img/game/brothers.png"/><b>Frères</b></div>
                                <div class="img-box"><img src="../img/game/shaman.png"/><b>Shaman</b></div>
                                <div class="img-box"><img src="../img/game/ancien.png"/><b>Ancien</b></div>
                                <div class="img-box"><img src="../img/game/redfox.png"/><b>Renard</b></div>
                                <div class="img-box"><img src="../img/game/idiot.png"/><b>Idiot</b></div>
                                <div class="img-box"><img src="../img/game/bouc.png"/><b>Bouc<br/>Emissaire</b></div>
                                <div class="img-box"><img src="../img/game/ours.png"/><b>Montreur <br/>Ours</b></div>
                                <div class="img-box"><img src="../img/game/juge.png"/><b>Juge Bègue</b></div>
                                <div class="img-box"><img src="../img/game/simple.png"/><b>Villageois-Villageois</b></div>
                                <div class="img-box"><img src="../img/game/ankou.png"/><b>Ankou</b></div>
                                <div class="img-box"><img src="../img/game/marionnetiste.png"/><b>Marionettiste</b></div>

                            </div>
                        </div>
                        <div class="compo-box">
                            <h3> Loup-Garous:</h3>
                            <div class="compo-img">
                                <div class="img-box selected select"><img src="../img/game/wolf.png"/><b>Loup-Garou</b>
                                    <div class="number noise">
                                        <button class="Sub">-</button><button class="Add">+</button>
                                    </div>
                                    <div class="role-amount"><span>1</span></div>
                                </div>
                                <div class="img-box"><img src="../img/game/whitewolf.png"/><b>Loup-Garou <br/>Blanc</b></div>
                                <div class="img-box"><img src="../img/game/bigbadwolf.png"/><b>Grand Méchant <br/>Loup</b></div>
                                <div class="img-box"><img src="../img/game/infect.png"/><b>Infect Père <br/>des Loups</b></div>
                                <div class="img-box"><img src="../img/game/wolfchild.png"/><b>Enfant <br/>Sauvage</b></div>
                                <div class="img-box"><img src="../img/game/wolfdog.png"/><b>Chien-Loup</b></div>
                            </div>
                        </div>
                        <div class="compo-box">
                            <h3>Solitaire:</h3>
                            <div class="compo-img">
                                
                                <div class="img-box"><img src="../img/game/voleur.png"/><b>Voleur</b></div>
                                <div class="img-box"><img src="../img/game/flute.png"/><b>Joueur de Flute</b></div>
                                <div class="img-box"><img src="../img/game/ange.png"/><b>Ange</b></div>
                                <div class="img-box"><img src="../img/game/rabbit.png"/><b>Lapin</b></div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divergence content-div">
                    <h2>Divergence :</h2>
                </div>
                <div class="summary content-div">
                        <h2>Récapitulatif :</h2>
                        <div class="sump noise">
                            <p class="para">
                                <span class="SimpleVillageois">Simple Villageois : 1<br/></span>
                                <span class="Loup-Garou">Loup-Garou : 1<br/></span>
                            </p>
                            <div class="total"><span>Total : 2</span></div>
                        </div>
                    </div>
                <button class="valider noise">Valider</button>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../js/create.js"></script>
    </body>
</html>