<!DOCTYPE html>
<html>
    <head>
        <title>Lg</title>
        <link rel="stylesheet" href="css/style-game.css">
    </head>
    <body>
        <div class="background"></div>
        <div class="image-background"></div>
        <div class="main">
            <div class="side phase">
                <div class="side-back left-side  noise">
                    <div class="head-phase">
                        <img src="img/Soleil.jpg">
                        <h5>Jour : 1 <br/>Phase : Vote</h5>
                    </div>
                    
                </div>
                <div class="time noise">
                        <h3>12:00</h3>
                </div>
                <div class="action-up noise">
                    <div class="action">
                        <div class="block_header">
                            <h3>Action :</h3>
                        </div>
                        <button>Voter</button>
                        <button>Test</button>
                    </div>
                </div>
            </div>
            <div class="chat">
                <p>
                    Chat<br/>
                    Test<br/>
                </p>
                <div class="panel-footer">
                    <input id="" type="text" class="text-send" placeholder="Type your message here..." />
                    <button class="btn-send" id="">Send</button>
                </div>
            </div>
            <div class="side">
                <div class="side-back noise">
                    <div class="player">
                        <img src="img/game/back.jpg" class="cards-img"/>
                        <h5>Flo Ride</h5>
                        <div class="symb">
                            <img src="img/Male.png"/>
                            <img src="img/Femelle.png"/>
                        </div>
                    </div>
                </div>
                <div class="player-list noise">
                    <div class="background_playerlist">
                        <div class="block_header">
                            <h3>Liste des joueurs</h3>
                        </div>
                        <p>
                            <span id="pseudo1">Pseudo1<br/></span>
                            <span id="pseudo2">Pseudo2<br/></span>
                            <span id="pseudo3">Pseudo3<br/></span>
                            <span id="FloRide">FloRide<br/></span>
                            <span id="pseudo4">Pseudo4<br/></span>
                            <span id="pseudo4">Pseudo5<br/></span>
                            <span id="pseudo6">Pseudo6<br/></span>
                        </p>
                    </div>
                </div>
                <div class="composition noise">
                    <div class="background_composition">
                        <div class="block_header">
                            <h3>Composition</h3>
                        </div>
                        <div class="all-role">
                            <div class="role">
                                <img src="img/game/wolf.png"/>
                                <div class="role-amount">
                                    <span>2</span>
                                </div>
                            </div>
                            <div class="role">
                                    <img src="img/game/simple.png"/>
                            </div>
                            <div class="role">
                                    <img src="img/game/voyante.png"/>
                            </div>
                            <div class="role">
                                    <img src="img/game/sorciere.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>