<!DOCTYPE html>
<html>
    <head>
        <title>Lg</title>
        <link rel="stylesheet" href="../css/style-MDJ.css">
        <link rel="stylesheet" href="../css/loader.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="background"></div>
        <div class="image-background"></div>
        <div id="modal-container" class="modal-container">
            <div id="contentUsername" class="modal-background">
                <form class="modal" id="formUsername" method="post">
                    <h2>Choisis un username</h2>
                    <input autofocus autocomplete="off" id="inputUsername" name="username"  type="text">
                    <div class="loader hidden" id="loaderUsername"></div>
                </form>
            </div>
        </div>
        <div class="player-list noise">
            <div class="background_playerlist">
                <div class="block_header">
                    <h3>Liste des joueurs</h3>
                </div>
                <p class="listofplayer">
                </p>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../js/MDJ.js"></script>
    </body>
</html>