* {
    font-family: 'Source Sans Pro',sans-serif;
}

body {
    background-color : rgb(34,44,86);
}

.main {
    width: 100%;
    height: 100%;
    min-height: 975px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    
}

h2 {
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    letter-spacing: 2px;
    color: #ffffff;
    
}

.header {
    background-color: rgb(137,43,50);
    border-radius: 5px;
    width: 10em;
    height: 4em;
    text-align: center;
    margin-bottom: 10px;
}

.header h2 {
    padding: 1.7em;
    margin: 0;
}

.content {
    background-color: rgb(137,43,50);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.content h2 {
    text-align: center;
    background-color: rgba(255,255,255,.2);
    width: 30%;
    padding: 5px;
    height: 28px;
    border-radius: 14px;
    margin-bottom: 10px;
    background-image: url("../img/noise.png");
    background-blend-mode: luminosity;
    background-repeat: repeat;
    background-position: top left;
}


.content-div{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.noise {
    background-image: url("../img/noise.png");
    background-blend-mode: luminosity;
    background-repeat: repeat;
    background-position: top left;
}


.configuration div{
    width: 75%;
    background-color: #ffefbc!important;
    border-radius: 5px;
    align-items: flex-start;
    padding: 2em;
}


.composition .compo-big-box {
    width: 75%;
    border-radius: 5px;
    padding: 0 2em;
    display: flex;
    flex-flow: row wrap;
}

.compo-box h3 {
    white-space: nowrap;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    color:white;
    letter-spacing: 2px;
    padding: 0.7em 1.7em;
    border-radius: 5px;
    background-color: rgba(255,255,255,.2);
    margin: 0.5em 0;
    text-align: center;
    min-width: 10px;
    max-width: 100%;
    
}

.compo-img {
    display: flex;
    flex-flow: row wrap;
}

img {
    width: 80px;
    height: auto;
    align-self: center;
}
.compo-img img {
    margin: 10px;
    filter: grayscale(1);
    transition: 0.5s;
}

.compo-box {
    margin: 20px;
    align-items: center;
}

.img-box {
    position: relative;
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;
    color:white;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    background-image: url("../img/noise.png");
    background-blend-mode: luminosity;
    background-repeat: repeat;
    background-position: top left;
    display: flex;
    flex-flow: column wrap;
    white-space: normal; 
    text-align: center;
    padding: 7px 7px 14px 7px;
    margin: 7px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.img-box:hover{
    background-color: rgba(255,255,255,.2);
} 

.img-box b {
    line-height: 100%;
    font-size: 13px;
}

.selected {
    background-color: #982626;
    color: #e6c585;
}

.selected img {
    filter: grayscale(0);
}

.selected:hover {
    background-color: #a52828;
}

.number {
    position: absolute;
    bottom: -20px;
    min-height: 14px;
    align-self: center;
    background-color: #982626;
    border-radius: 5px;
    font-family: Montserrat,sans-serif;
    min-width: 30px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    color:white;
    letter-spacing: 2px;
    box-shadow: inset 0 2px 2px rgba(255,255,255,.2), inset 0 -2px 2px rgba(0,0,0,.5), inset 2px 0 0 rgba(255,255,255,.1), inset -2px 0 0 rgba(0,0,0,.1);
}

.Sub {
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    min-width: 40px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    color:white;
    margin: 5px;
    background: 0;
    border:0;
    padding: 0;
    margin: 0;
}

.Add {
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    min-width: 40px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    color:white;
    margin: 5px;
    background: 0;
    border:0;
    padding: 0;
    margin: 0;
}

.role-amount{
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: #fff;
    top: 5px;
    right: 5px;
    transform: rotate3d(0,0,1,45deg);
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    transition: opacity .3s ease;
}

.role-amount span{
    display: block;
    color: black;
    font-family: 'Source Sans Pro',sans-serif;
    transform: rotate3d(0,0,-1,45deg);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.sump {
    width: 80%;
    margin: 10px 0;
    padding: 0px 0px;
    border-radius: 5px;
    background-color: #ffefbc!important;
}

.total {
    width: 100%;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    color: #fff;
    padding: 8px 0;
    margin-top: 10px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}

.total span {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.4);
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

