body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#5aafd7,#fff);
    background-blend-mode: luminosity;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: -1;
}

.image-background {
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: 200px;
    background: transparent repeat-x bottom left/auto;
    background-image: url(../img/village-day.png);
    z-index: -1;
}

.main {
    margin: auto;
    width: 98%;
    height: 90vh;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.side {
    width: 18%;
    padding: 0;
}

.side-back {
    border: 2px solid rgb(65, 9, 9);
    background-color: rgb(137,43,50);
    border-radius: 5px;
}

.chat {
    position: relative;
    width: 50%;
    height: 90vh;
    margin: 0 2%;
    background-color: #eee;
    border-radius: 5px;
}

.chat p {
    width: 98%;
    font-family: Montserrat,sans-serif;
    margin-left: 10px;
    overflow-y: scroll;
    height: 90%;
}

.chat br {
    line-height: 170%;
}

.noise {
    background-image: url("../img/noise.png");
    background-blend-mode: luminosity;
    background-repeat: repeat;
    background-position: top left;
}

.head-phase {
    margin-top: 10px;
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    letter-spacing: 2px;
    color: #ffffff;
}
.head-phase img {
    width: 40%;
    height: auto;
    border: 3px solid rgb(65, 9, 9);
    border-radius: 14px;
}

.time {
    border: solid rgb(65, 9, 9);
    background-color: rgb(119, 17, 17);
    border-width: 2px;
    text-align: center;
    border-radius:  0 0 5px 5px;
    padding: 0;
}

.time h3 {
    margin: 0.25em;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    letter-spacing: 2px;
    color: #ffffff;
}

.player{
    margin-top: 10px;
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    letter-spacing: 2px;
    color: #ffffff;
}

.cards-img {
    width: 30%;
    height: auto;
    border: 3px solid rgb(65, 9, 9);
    border-radius: 14px;
}

.symb img {
    width: 6%;
    height: auto;
}

.player-list {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #795245;
    
}

.background_playerlist {
    background: transparent url(../img/background-players.png) center center/80% no-repeat;
    max-height: calc(100% - 44px);
}

.player-list p {
    padding-left: 15px;
    margin-top: 10px;
    overflow-y: scroll;
    font-weight: 50;
    text-transform: none;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    letter-spacing: 0;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
}

.player-list br {
    line-height: 150%;
}

.player-list span {
    padding:10px 0;
}


.right-side {
    display: flex;
    flex-flow: column wrap;
}

.composition {
    width: 100%;
    background-color: #e6c585;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
}


.all-role {
    display: flex;
    flex-wrap: wrap;
}

.role {
    position: relative;
}

.role img {
    width: 50px;
    height: auto;
    margin: 0 3px;
}

.role-amount{
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: #fff;
    top: 5px;
    right: 5px;
    transform: rotate3d(0,0,1,45deg);
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    transition: opacity .3s ease;
}

.role-amount span{
    display: block;
    font-family: 'Source Sans Pro',sans-serif;
    transform: rotate3d(0,0,-1,45deg);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.block_header {
    width: 100%;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    color: #fff;
    padding: 8px 0;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}

.block_header h3 {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}


.background_composition{
    background: transparent url(../img/background-compo.png) center bottom/100% no-repeat;
} 

.panel-footer {
    position: absolute;
    bottom : 0;
    display: flex;
    width: 100%;
    border: 1px solid grey;
    border-radius: 0 0 5px 5px;
}

.chat input {
    width: 80%;
    border:0;
    border-right: 1px solid grey;
    height: 40px;
    color: #222;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 6px;
    padding-bottom: 0px;
    background-color: inherit;
    margin: 0;
    border-radius: 0 0 0 5px;
}

.chat button {
    width: 20%;
    height: 40px;
    border: 0;
    color: #222;
    font-size: 13px;
    background-color: inherit;
    margin: auto;
    border-radius: 0 0 5px 0;
    
}

.left-side {
    border-bottom-width: 1px;
    border-radius: 5px 5px 0 0;
}

.action-up {
    background-color: #5e1717;
    border-radius: 5px;
    margin-top: 10px;
}

.action {
    width: 100%;
    background-color: rgba(255,255,255,.1);
    text-align: center;
}

.action button {
    min-height: 40px;
    padding: 11px 20px;
    box-shadow: inset 0 2px 2px rgba(255,255,255,.2), inset 0 -2px 2px rgba(0,0,0,.5);
    border: 0;
    background-color: #982626;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    letter-spacing: 2px;
    color: #fff;
    border-radius: 5px;
    background-image: url("../img/noise.png");
    background-blend-mode: luminosity;
    background-repeat: repeat;
    background-position: top left;
    margin-bottom: 10px;

}